body {
    margin: 0px;
    padding: 0px;
}

.block {
    margin-bottom: 26px;
}

#header {
    padding: 32px;
    padding-left: 25%;
    padding-right: 25%;
}

#content {
    padding: 36px;
    padding-left: 30%;
    padding-right: 30%;
}